#adjustment-s{
    text-align: center;
}

#adjustment-s h2 {
margin: 2rem 0;
}

.form-control{
    margin: 0.5rem 0;
    margin-bottom: .3rem;
}

.form-control label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control input{
    font: inherit;
    border: 1.2px solid rgb(204,204,204);
    width: 15rem;
    padding: 0.35rem;
}

.erro-rs label{
    color: rgb(174, 32, 32)
}
.erro-rs input{
    border-color: rgb(174, 32, 32);
    color: rgb(174, 32, 32);
    background-color: rgb(253,219,219);
}

#game-config{
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    text-align: center;
}

#game-config ol{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#game-config li{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 5);
}


#game-config h2{
    font-size: 1rem;
    margin: 0.5rem 0;
}

#game-config h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: rgb(34, 119, 106);
}


.player-symbol{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 17, 15);
    margin: 0.5rem;
}

